Assets/uAdventureAnalytics/Plugins/unity-tracker/csharp-tracker/AssetManager/RageAssetManager/VersionAndDependencies.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="version">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:byte" name="major" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:byte" name="minor" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:byte" name="build" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="revision" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="maturity" minOccurs="1" maxOccurs="1"/>
        <xs:element name="dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="depends" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="minVersion"/>
                      <xs:attribute type="xs:string" name="maxVersion"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>